#mainCanvas{
    border: white solid 1px;
    margin-left:50%;
    position : relative;
    left:-429px;
	
}

#Player1{
	text-align: center;
	color : #ff0000;
}

#p1Part{
	position : absolute;
	margin-left: 50%;
	left : -580px;
	width:150px;
	height : 660px;
}

#specialTilePartP1{
	position: relative;
	margin-top: 25px;
	width: 150px;
	height: 635px;
}

#Player2{
	text-align: center;
	color : #0000ff;
}

#p2Part{
	position : absolute;
	margin-left: 50%;
	left : 430px;
	width : 150px;
	height : 660px;
}

.specialTile{

}

#Timer{
	position : absolute;
	margin-top: 660px;
	margin-left: 50%;
	left : -429px;
	width : 858px;
	height : 50px;
}

#countdown{
	text-align: center;
	color : #ffffff;
	font-size:30px;
}

#EndTurn{
	float : right;
}

body{
    background-color: black;
	overflow: hidden;
}

