#mainCanvas{
    border: white solid 1px;
    margin-left:50%;
    position : relative;
    left:-429px;
	
}

#Player1{
	text-align: center;
	color : #ff0000;
}

#Player1Part{
	position : absolute;
	margin-left: 50%;
	left : -580px;
	width:150px;
	height : 660px;
	border: 1px white solid;
}

#specialTilePartPlayer1{
	display: none;
	position: absolute;
	width: 150px;
	height: 639px;
	border: 1px white solid;
}

#choiceTileTypePlayer1{
	display: none;
	position: absolute;
	width: 150px;
	height: 639px;
	border: 1px white solid;
}

#confirmSpeTilePlayer1{
	background-color: red;
}

#specialTilePartP1{
	position: relative;
	margin-top: 25px;
	width: 150px;
	height: 635px;
}

.selecUnitPlayer1{
	position: relative;
	margin-top: 32px;
	margin-left: 50%;
	left: -33px;
	width: 66px;
	height: 66px;

	border: 1px white solid;
}

#selecUnitPlayer1{
	display: block;
	position: absolute;
	width: 150px;
	height: 639px;
	border: 1px white solid;	
}

#Player2{
	text-align: center;
	color : #0000ff;
}

#Player2Part{
	position : absolute;
	margin-left: 50%;
	left : 430px;
	width : 150px;
	height : 660px;
	border: 1px white solid;
}

#specialTilePartPlayer2{
	display: none;
	position: absolute;
	width: 150px;
	height: 639px;
	border: 1px white solid;
}

#choiceTileTypePlayer2{
	display: none;
	position: absolute;
	width: 150px;
	height: 639px;
	border: 1px white solid;
}

#confirmSpeTilePlayer2{
	background-color: red;
}

#selecUnitPlayer2{
	display: block;
	position: absolute;
	width: 150px;
	height: 639px;
	border: 1px white solid;	
}

.selecUnitPlayer2{
	position: relative;
	margin-top: 32px;
	margin-left: 50%;
	left: -33px;
	width: 66px;
	height: 66px;

	border: 1px white solid;
}
.specialTilePlayer1{
	position: relative;
	margin-left: 50%;
	margin-top: 80px;
	left: -33px;
	width: 66px;
	height: 66px;
	border: 1px white solid;
}

.selecSpecialTilePlayer1{
	position: relative;
	margin-left: 50%;
	margin-top: 10px;
	left: -33px;
	width: 66px;
	height: 66px;
	border: 1px white solid;
}
.specialTilePlayer2{
	position: relative;
	margin-left: 50%;
	margin-top: 80px;
	left: -33px;
	width: 66px;
	height: 66px;
	border: 1px white solid;
}

.selecSpecialTilePlayer2{
	position: relative;
	margin-left: 50%;
	margin-top: 10px;
	left: -33px;
	width: 66px;
	height: 66px;
	border: 1px white solid;
}

.confirmButton{
	position: relative;
	margin-top: 50px;
	margin-left: 50%;
	left: -50px;
	width: 100px;
	height: 20px;
	text-align: center;
	border: white 1px solid
}

#archerUnitPlayer1{
	background-image: url("images/menu/skins_grey/Archer_1.png");
}
#priestUnitPlayer1{
	background-image: url("images/menu/skins_grey/Priest_2.png");
}
#guerrierUnitPlayer1{
	background-image: url("images/menu/skins_grey/Knight_2.png");
}
#mageUnitPlayer1{
	background-image: url("images/menu/skins_grey/Mage_1.png");
}
#thiefUnitPlayer1{
	background-image: url("images/menu/skins_grey/Thief_1.png");
}
#dragonUnitPlayer1{
	background-image: url("images/menu/skins_grey/Dragon.png");
}

#archerUnitPlayer1:hover{
	background-image: url("images/Heros/Archer1.png");
}
#priestUnitPlayer1:hover{
	background-image: url("images/Heros/Priest1.png");
}
#guerrierUnitPlayer1:hover{
	background-image: url("images/Heros/Knight1.png");
}
#mageUnitPlayer1:hover{
	background-image: url("images/Heros/Mage1.png");
}
#thiefUnitPlayer1:hover{
	background-image: url("images/Heros/Thief1.png");
}
#dragonUnitPlayer1:hover{
	background-image: url("images/Heros/Dragon1.png");
}

#archerUnitPlayer2{
	background-image: url("images/menu/skins_grey/Archer_2.png");
}
#priestUnitPlayer2{
	background-image: url("images/menu/skins_grey/Priest_2.png");
}
#guerrierUnitPlayer2{
	background-image: url("images/menu/skins_grey/Knight_2.png");
}
#mageUnitPlayer2{
	background-image: url("images/menu/skins_grey/Mage_1.png");
}
#thiefUnitPlayer2{
	background-image: url("images/menu/skins_grey/Thief_1.png");
}
#dragonUnitPlayer2{
	background-image: url("images/menu/skins_grey/Dragon.png");
}

#archerUnitPlayer2:hover{
	background-image: url("images/Heros/Archer2.png");
}
#priestUnitPlayer2:hover{
	background-image: url("images/Heros/Priest2.png");
}
#guerrierUnitPlayer2:hover{
	background-image: url("images/Heros/Knight2.png");
}
#mageUnitPlayer2:hover{
	background-image: url("images/Heros/Mage2.png");
}
#thiefUnitPlayer2:hover{
	background-image: url("images/Heros/Thief2.png");
}
#dragonUnitPlayer2:hover{
	background-image: url("images/Heros/Dragon2.png");
}


#Timer{
	position : absolute;
	margin-top: 660px;
	margin-left: 50%;
	left : -429px;
	width : 858px;
	height : 50px;
}

#countdown{
	text-align: center;
	color : #ffffff;
	font-size:30px;
}

#EndTurn{
	float : right;
}

body{
    background-color: black;
	overflow: hidden;
}

